# Build results
bin/
obj/
[Bb]in/
[Oo]bj/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# Temporary files
*.tmp
*.log
*.vspscc
*.vssscc

# Others
*.exe
*.dll
*.pdb
*.cache
*.json.cache
*.dbmdl
*.bak
*.sql
*.ldf
*.mdf

secrets.json
appsettings.Development.json

Thumbs.db
Desktop.ini

*.log
.vscode/

GestaoOficinas.Web/wwwroot/lib/