body {
    background-color: var(--prussian-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
}

.login-header {
    background-color: var(--sapphire-blue);
    padding: 30px;
    text-align: center;
    color: white;
}

.login-body {
    background-color: white;
    padding: 40px;
}

.btn-login {
    background-color: var(--celadon-blue);
    color: white;
    width: 100%;
    padding: 10px;
    font-weight: bold;
}

    .btn-login:hover {
        background-color: var(--prussian-blue);
        color: white;
    }
